*{box-sizing: border-box;}

nav a {text-decoration: none;}

nav a:link {color: #000000;}

nav a:visited {color: #000000;}

nav a:hover {color: #C0C0C0;}


.hrwidth {margin-left: 150px;
		  margin-right: 150px;}

.mainpage {margin-left: 170px;
		   margin-right: 20px;}

#container 	{min-height: 100%;}

#main 		{overflow:auto;
			padding-bottom: 100px;}

#footer		{position: relative;
			height: 100px;
			margin-top: 500px}

#name 		{width: 350px;}
#email		{width: 350px}
#message 	{width: 350px;
		    height: 150px;}

.caption {font-size: 40px;
		  padding-top: 20px;}

table {width: 430px;
	   height: 400px;}


table, th, td {background-color: #FFFFFF;
			  margin: auto;
			  padding-top: 20px;
			  vertical-align: top;
			  padding-left: 10px;}

.table1 {margin: auto;
		vertical-align: center;
		padding-top: 20px;
		padding-left: 10px;}

.send {padding-right: 20px;
		padding-bottom: 20px;}

.body {font-family: "Segoe Print", Arial, sans-serif;}

.div {border: 2px solid #000000;
	 height: 500px;
	 width: 500px;
	 margin: auto;}

.cell {height:20px;
	   width: 300px;}

.introduction {margin-left: 150px;
			  margin-right: 150px;
			  text-align: justify;}

main {background-image: url(background.png);
		 		background-repeat: no-repeat;}